<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coba.mymapsapps" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_maps"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_maps"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyMapsApps" >
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCY1VrsZC8ZYJtunCNsO_m9W6SjhJ5pBQU" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
    </application>

</manifest>